# report

In [2]:
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')
from contract_select import contract_select
from hedge_calc import hedge_calc
from greek_calc import greek_calc, pnl_daily_calc
from position_adj_cost import position_adj_cost

In [ ]:
data= 'spy',
date= '20170912',
maxDTE: int = 30,
minDTE: int = 10,
maxDistance: float = 0.2,
minDistance: float = 0.08,
maxTheta: float = -0.0,
minTheta: float = -1.2,
contract_type: str = 'C',
moneyness = 'out'

In [ ]:
contract_select(selct_type='main', date= '20190917', spy_spx='spx', contract_type='P', minAsk=0.2, minDistance = 0.1)[1]

In [ ]:
contract_select(selct_type='hedge', date= '20190917', spy_spx='spx', contract_type='P', minAsk=0.2, minDistance = 0.1)[1]

In [15]:
df1=contract_select(selct_type='main', date= '20100125', spy_spx='spx', contract_type='P', minAsk=0.2, minDistance = 0.08, num=3)
df2=contract_select(selct_type='main', date= '20101223', spy_spx='spx', contract_type='P', minAsk=0.2, minDistance = 0.08, num=3)
df3=contract_select(selct_type='hedge', date= '20100125', spy_spx='spy', contract_type='P', minAsk=0.2, minDistance = 0.08, num=3)
df4=contract_select(selct_type='hedge', date= '20101223', spy_spx='spy', contract_type='P', minAsk=0.2, minDistance = 0.08, num=3)

In [16]:
d1 = hedge_calc(df1['main'],df3['hedge'],df1['main_type'],df3['hedge_type'])
d2 = hedge_calc(df2['main'],df4['hedge'],df2['main_type'],df4['hedge_type'])

In [ ]:
position_adj_cost(d1,d2)

In [ ]:
d = pnl_daily_calc(d)

In [ ]:
d = hedge_calc(d['main'], d['hedge'], d['main_type'], d['hedge_type'])
d

In [ ]:
d = hedge_calc(d['main'], d['hedge'], d['main_type'], d['hedge_type'])
d

In [3]:
for i in range(15):
    d = pnl_daily_calc(d)
    print(d['main'].index[0][0], d['daily_rtn'])

NameError: name 'd' is not defined

In [9]:
main_original=contract_select(select_type='main', date= '20101222', spy_spx='spx', contract_type='C', minAsk=0.2, minDistance = 0.08, num=3)
hedge_original=contract_select(select_type='hedge', date= '20101222', spy_spx='spx', contract_type='P', minAsk=0.2, minDistance = 0.03, num=3)

In [10]:
d = hedge_calc(main_original['main'], hedge_original['hedge'], main_original['main_type'], hedge_original['hedge_type'])

In [11]:
greek_calc(d)

              DELTA   GAMMA      VEGA     THETA
[QUOTE_DATE]
2010-12-22      0.0 -0.0001 -0.000002 -0.008906

In [12]:
d

{'main':                             [UNDERLYING_LAST]  [DTE]  [C_DELTA]  [C_GAMMA]  \
 [QUOTE_DATE] [EXPIRE_DATE]
 2010-12-22   2011-01-20                1258.9   29.0    0.01613    0.00084
              2011-01-20                1258.9   29.0    0.01199    0.00061
              2011-01-20                1258.9   29.0    0.01276    0.00066

                             [C_VEGA]  [C_THETA]  [C_BID]  [C_ASK]  [STRIKE]  \
 [QUOTE_DATE] [EXPIRE_DATE]
 2010-12-22   2011-01-20      0.14445   -0.02769     0.21     0.31    1360.0
              2011-01-20      0.11354   -0.02437     0.15     0.25    1375.0
              2011-01-20      0.11729   -0.02440     0.14     0.25    1370.0

                             [STRIKE_DISTANCE]  [STRIKE_DISTANCE_PCT]  \
 [QUOTE_DATE] [EXPIRE_DATE]
 2010-12-22   2011-01-20                 101.1                  0.080
              2011-01-20                 116.1                  0.092
              2011-01-20                 111.1                  0.088

                                 UTILITY    WEIGHT
 [QUOTE_DATE] [EXPIRE_DATE]
 2010-12-22   2011-01-20     2381.153425 -0.333333
              2011-01-20     2898.599461 -0.333333
              2011-01-20     3209.322100 -0.333333  ,
 'main_type': 'spx',
 'hedge':                             [UNDERLYING_LAST]  [DTE]  [STRIKE]  [P_BID]  \
 [QUOTE_DATE] [EXPIRE_DATE]
 2010-12-22   2011-01-20                1258.9   29.0    1220.0     7.70
              2011-01-20                1258.9   29.0    1200.0     5.29
              2011-01-20                1258.9   29.0    1215.0     6.39

                             [P_ASK]  [P_DELTA]  [P_GAMMA]  [P_VEGA]  \
 [QUOTE_DATE] [EXPIRE_DATE]
 2010-12-22   2011-01-20        8.49   -0.24002    0.00553   1.12082
              2011-01-20        5.50   -0.16278    0.00399   0.88540
              2011-01-20        8.19   -0.21717    0.00514   1.06101

                             [P_THETA]  [STRIKE_DISTANCE]  \
 [QUOTE_DATE] [EXPIRE_DATE]
 2010-12-22   2011-01-20      -0.30138               38.9
              2011-01-20      -0.25849               58.9
              2011-01-20      -0.29110               43.9

                             [STRIKE_DISTANCE_PCT]      UTILITY    WEIGHT
 [QUOTE_DATE] [EXPIRE_DATE]
 2010-12-22   2011-01-20                     0.031 -2016.494764  0.050892
              2011-01-20                     0.047 -1733.490822  0.024659
              2011-01-20                     0.035 -1095.749582  0.043560  ,
 'hedge_type': 'spx',
 'emini':               [UNDERLYING_LAST]    WEIGHT
 [QUOTE_DATE]
 2010-12-22               1258.9  0.039316}

In [ ]:
position_adj_cost(main_original, main_adjusted)

In [12]:
main_original['WEIGHT'] = -0.33
main_adjusted['WEIGHT'] = [0.05, 0.01, 0.05]

In [13]:
main_original

                            [UNDERLYING_LAST]  [DTE]  [C_DELTA]  [C_GAMMA]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-12-22   2011-01-20                1258.9   29.0    0.01613    0.00084
             2011-01-20                1258.9   29.0    0.01199    0.00061
             2011-01-20                1258.9   29.0    0.01276    0.00066

                            [C_VEGA]  [C_THETA]  [C_BID]  [C_ASK]  [STRIKE]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-12-22   2011-01-20      0.14445   -0.02769     0.21     0.31    1360.0
             2011-01-20      0.11354   -0.02437     0.15     0.25    1375.0
             2011-01-20      0.11729   -0.02440     0.14     0.25    1370.0

                            [STRIKE_DISTANCE]  [STRIKE_DISTANCE_PCT]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-12-22   2011-01-20                 101.1                  0.080
             2011-01-20                 116.1                  0.092
             2011-01-20                 111.1                  0.088

                                UTILITY  WEIGHT
[QUOTE_DATE] [EXPIRE_DATE]
2010-12-22   2011-01-20     1026.584939   -0.33
             2011-01-20     1722.134683   -0.33
             2011-01-20     2061.043407   -0.33

In [14]:
main_adjusted

                            [UNDERLYING_LAST]  [DTE]  [C_DELTA]  [C_GAMMA]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-01-25   2010-02-18               1097.17   24.0    0.02402    0.00113
             2010-02-18               1097.17   24.0    0.01919    0.00092
             2010-02-18               1097.17   24.0    0.02809    0.00136

                            [C_VEGA]  [C_THETA]  [C_BID]  [C_ASK]  [STRIKE]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-01-25   2010-02-18      0.16321   -0.05027     0.40     0.45    1195.0
             2010-02-18      0.13296   -0.04031     0.30     0.35    1200.0
             2010-02-18      0.18542   -0.05637     0.45     0.55    1190.0

                            [STRIKE_DISTANCE]  [STRIKE_DISTANCE_PCT]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-01-25   2010-02-18                  97.8                  0.089
             2010-02-18                 102.8                  0.094
             2010-02-18                  92.8                  0.085

                               UTILITY  WEIGHT
[QUOTE_DATE] [EXPIRE_DATE]
2010-01-25   2010-02-18    -199.333942    0.05
             2010-02-18      17.307425    0.01
             2010-02-18     171.834435    0.05

In [16]:
main_original

                            [UNDERLYING_LAST]  [DTE]  [C_DELTA]  [C_GAMMA]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-12-22   2011-01-20               1258.90   29.0    0.01613    0.00084
             2011-01-20               1258.90   29.0    0.01199    0.00061
             2011-01-20               1258.90   29.0    0.01276    0.00066
2010-01-25   2010-02-18               1097.17   24.0    0.02402    0.00113
             2010-02-18               1097.17   24.0    0.01919    0.00092
             2010-02-18               1097.17   24.0    0.02809    0.00136

                            [C_VEGA]  [C_THETA]  [C_BID]  [C_ASK]  [STRIKE]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-12-22   2011-01-20      0.14445   -0.02769     0.21     0.31    1360.0
             2011-01-20      0.11354   -0.02437     0.15     0.25    1375.0
             2011-01-20      0.11729   -0.02440     0.14     0.25    1370.0
2010-01-25   2010-02-18      0.16321   -0.05027     0.40     0.45    1195.0
             2010-02-18      0.13296   -0.04031     0.30     0.35    1200.0
             2010-02-18      0.18542   -0.05637     0.45     0.55    1190.0

                            [STRIKE_DISTANCE]  [STRIKE_DISTANCE_PCT]  \
[QUOTE_DATE] [EXPIRE_DATE]
2010-12-22   2011-01-20                 101.1                  0.080
             2011-01-20                 116.1                  0.092
             2011-01-20                 111.1                  0.088
2010-01-25   2010-02-18                  97.8                  0.089
             2010-02-18                 102.8                  0.094
             2010-02-18                  92.8                  0.085

                                UTILITY  WEIGHT  ADJUSTED WEIGHT
[QUOTE_DATE] [EXPIRE_DATE]
2010-12-22   2011-01-20     1026.584939   -0.33             0.00
             2011-01-20     1722.134683   -0.33             0.00
             2011-01-20     2061.043407   -0.33             0.00
2010-01-25   2010-02-18     -199.333942    0.00             0.05
             2010-02-18       17.307425    0.00             0.01
             2010-02-18      171.834435    0.00             0.05

In [15]:
main_original['ADJUSTED WEIGHT'] = 0
#concat new (if there are) contracts to the original main contract
#set the 'adjusted weight' of the new contracts to the same value of the column 'weight'
#set the value of the column 'weight' to 0
k = len(main_original)

for m in range(len(main_adjusted)):
    contract_to_update = main_adjusted.iloc[m]
    expired_date= contract_to_update.name[1]
    # k = len(main_original)
    for n in range(k):
        contract_to_compare = main_original.iloc[n]
        
        if expired_date == contract_to_compare.name[1] and contract_to_update['[STRIKE]'] == contract_to_compare['[STRIKE]']:
            main_original['ADJUSTED WEIGHT'][m] = contract_to_update['WEIGHT']
            break
        # elif (expired_date != contract_to_compare.name[1] or contract_to_update['[STRIKE]'] != contract_to_compare['[STRIKE]']): 
        else:
            if n == (k-1):
                main_original = main_original.append(main_adjusted.iloc[[m]])
                main_original['ADJUSTED WEIGHT'][-1] = main_original['WEIGHT'][-1].copy()
                main_original['WEIGHT'][-1] = 0